.header {
    max-width: 1184px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 28px 0 56px;
    box-sizing: border-box;
}


@media screen and (max-width: 1024px) {
    .header {
        max-width: 928px;
        padding: 28px 0 48px;
    }
}

@media screen and (max-width: 768px) {
    .header {
        max-width: 720px;
        padding: 28px 0 48px;
    }
}

@media screen and (max-width: 420px) {
    .header {
        max-width: 288px;
        padding: 16px 0 48px;
    }
}