.footer__copyright {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    text-align: right;
    color: #FFFFFF;
    margin: 0;
    align-self: end;
}

@media screen and (max-width: 639px) {
    .footer__copyright {
        align-self: start;
        
    }
}