.cover__title {
    max-width: 560px;
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
    text-align: center;
    color: #FFFFFF;
    z-index: 1;
    margin: 0;
    padding-bottom: 15px;
}

@media screen and (max-width: 1024px) {
    .cover__title {
        padding: 0 0 20px;
    }
}

@media screen and (max-width: 768px) {
    .cover__title {
        max-width: 560px;
        padding: 0 0 15px;
        
    }
}

@media screen and (max-width: 550px) {
    .cover__title {
        max-width: 248px;
        margin: 0;
        padding: 0 0 20px;
        font-size: 32px;
        line-height: 35px;
    }
}