.footer {
    display: flex;
    margin: 0;
    padding: 82px 57px 38px;
    max-width: 1184px;
    justify-content: space-between;
  box-sizing: border-box;
}

@media screen and (max-width: 1024px) {
    .footer {
        max-width: 928px;
        padding: 82px 50px 38px;
    }
}

@media screen and (max-width: 768px) {
    .footer {
        max-width: 720px;
        padding: 88px 24px 24px;
    }
}

@media screen and (max-width: 639px) {
    .footer {
        padding: 64px 118px 24px 10px;
        flex-direction: column;
    }   
}